/* PHASE 2: Navigation */

.header-logo {

  float: left;
  border-right: 5px ridge darkred;
  font-weight: bold;

}

.header-logo:hover {
  background-color: black;
}

.header-list {
  float: right;
}

.header-list > li {

  border-left: 5px ridge darkred;
  float: left;

}

.header-list > li:hover {
  background-color: black;
}
